body {
    font-family: Arial;
    background-color: #e6f2ff;
    text-align: center;
}

h1 {
    color: #003366;
}

.box {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 5px;
}

button {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004d99;
}
